# Clases protegidas: solo el Alejandro  puede aprobar cambios
/src/modelo/Vehiculo.java   @AlejandroMoralesMadrigal77
/src/modelo/Reparable.java   @AlejandroMoralesMadrigal77
/.github/CODEOWNERS   @AlejandroMoralesMadrigal77
/.github/workflows/   @AlejandroMoralesMadrigal77