# Clases protegidas: solo el Alejandro  puede aprobar cambios
/src/Modelo/Vehiculo.java   @AlejandroMoralesMadrigal77
/src/Modelo/Reparable.java   @AlejandroMoralesMadrigal77
/.github/CODEOWNERS   @AlejandroMoralesMadrigal77
/.github/workflows/   @AlejandroMoralesMadrigal77
